/* * {
    margin: 0;
    padding: 0;
} */

html,
body {
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: black;
  margin: 0;
  padding: 0;
}

.overlay {
  margin: 0 1em;
  padding: 1em;
  width: 60%;
  max-width: 100%;
  display: grid;
  grid-template-rows: 70vh auto;
  /* background: rgba(255, 255, 255, 0.5); */
}

.webgl {
  /* outline: none; */
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}

.h1, .h3, .h3 {
  font-family: 'Yeseva One', cursive;
  /* color: white; not working */
  color: white;
}

input {
  width: 100%;
  color: red;
}
