/* * {
    margin: 0;
    padding: 0;
} */

html,
body {
  overflow: hidden;
}

body {
  background: black;
  margin: 0;
  padding: 0;
}

.overlay {
  margin: 0 1em;
  padding: 1em;
  width: 250px;
  max-width: 100%;
  background: rgba(255, 255, 255, 0.5);
}

.webgl {
  /* outline: none; */
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}
